<div *ngIf="currentUser != senderUserID" class="container">
  <img [src]="otherProfileURL" alt="Avatar" style="width: 100%;" />
  <p>{{ otherDisplayName }}</p>
  <p>{{ message }}</p>
  <span class="time-right">{{ getTimeStamp() }}</span>
</div>

<div *ngIf="currentUser === senderUserID" class="container darker">
  <img [src]="ownProfileURL" alt="Avatar" class="right" style="width: 100%;" />
  <p>{{ ownDisplayName }}</p>
  <p>{{ message }}</p>
  <span class="time-left">{{ getTimeStamp() }}</span>
</div>
